html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

ul {
    list-style-type: none;
}

a,
button {
    cursor: pointer;
}
input {
    outline: none;
}

button,
input {
    border: none;
}

:root {
    --scale-basic: scale(0.9);
    --transition-duration: 0.2s;
    --padding-inline-main: min(5%, 40px);
    --width-container: 600px;
    --min-height-container: 500px;
    --min-height-field: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

body {
    color: white;
    background: url(./../img/to_do_bg.jpg) center/cover no-repeat;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1;
    min-height: 100vh;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.field {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 20px;
    padding-right: 10px;
    min-height: var(--min-height-field);
    border-radius: 15px;
    box-shadow: inset 0 0 3px 0 black;
}

.task-field__button { 
    color: rgb(117 117 117);
}

.task-field__button:active {
    color: rgb(57, 57, 57);
    transform: var(--scale-basic);
}

.search-field__button:active {
    color: black;
    transform: var(--scale-basic);
}

.total-task__delete-all-button{
    color: white;
}

.total-task__delete-all-button:active {
    transform: var(--scale-basic);
    opacity: 0.8;
}

.todo-item__label {
    color: black;
}

.todo-item__delete-button:active {
    transform: var(--scale-basic);
}
